# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
# Character set
charset = utf-8

# Line endings
end_of_line = lf

# Indentation
indent_style = space
indent_size = 4

# Trim trailing whitespace
trim_trailing_whitespace = true

# Insert final newline
insert_final_newline = true

# Max line length
max_line_length = 120

[*.{cpp,cc,cxx,c++}]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{hpp,hh,hxx,h++}]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,h}]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_size = 8
indent_style = tab
tab_width = 8

[CMakeLists.txt]
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
